<div class= "panel panel-default">

<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "panel-body">
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%=  f.select :status, ['Pending for Pickup','Out for Delivery','Completed'] %>
  </div>

  <div class="form-group">
    <%= f.label :time %>
    <%= f.datetime_select :time, class: "form-control" %>
  </div>


<div class= "form-group">
    
  <%= f.label :Ordertype %>
  <%=  f.select :ordertype, options_for_select(["Standard","Bikky-Hotbox","Bikky-Coldbox"], disabled:["Bikky-Coldbox", "Bikky-Hotbox"]) %>

</div>


  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>
