<p id="notice"><%= notice %></p>
<div id="orders">
<div class = "panel panel-default">
<div class="panel panel-heading text-center">
<h1>Orders</h1>
</div>

<table class= "table table-striped sortable">
  <thead>
    <tr>
      <th>Status</th>
      <th>Quantity</th>
      <th>Content</th>
      <th>Tracking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <% if order.user == current_user %>
    <% if order.status == 'Pending for Pickup'%>
      <tr class='warning'>
    <% elsif order.status == 'Out for Delivery'%>
    <tr>
    <% elsif order.status == 'Completed' %>
    <tr class='success'>
      <%end%>
        <td><%= order.status %></td>
        <td><%= order.quantity %></td>
        <td><%= order.content %></td>
        <td><%= link_to 'Track this order', livetrack_path, target: :_blank %></td>
        <td><%= link_to 'Details', order %></td>
        <td><%= link_to 'Update', edit_order_path(order) %></td>
        <td><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end %>
    <% end %>
  </tbody>
</table>


</div>

<br>
</div>